{% extends "base.html" %}

{% block content %}
<div class="h1">askMAMA SURVEY</div>
<div class="content-inner">
    <div class="items">
        <div class="item no-pic">
            <div class="meta">
                <div class="title" style="font-weight: bold">
                    {{ survey.title }}
                </div>
                <div class="description">{{ survey.introduction_text|safe }}</div>
                <div class="description">sdfjkas fsdalkfjasldkf</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

